#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.genero{
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #b8b8b8;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* styles.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #b8b8b8;
}

button {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #447ab4;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.sucess{
  color: green;
  margin-top: 10px;
}

.container{
  background-color:rgb(51, 194, 139);
}
